.pagination {
    display         :   flex;
    justify-content : center;
    align-items     : center;
    margin-top      : 20 px;
}
lightning-button {
    margin: 0 5px;
}
span {
    margin: 0 10px;
}