.btn
{
    border: none;
    color:  white;
    padding: 14px 28px;
    cursor: pointer;
    background: #2167f4;
}
.parent-wrapper
{
   padding: 10px;
   border: 5px solid #00a1e0; 
}
.child-wrapper
{
   padding: 10px;
   border:  2px solid #3cc2bc;
   margin: 10px;
}